:root{
    --light: #EEE;
    --dark:#212121;
    --primary: #8c38ff;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}
.container{
    /* width: 1280px; */
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
nav{
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    position: fixed;
    padding: 15px 30px;
    background-color: var(--dark);
    border-bottom: 3px solid var(--primary);
}
h1{
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.hamburger{
    z-index: 999;
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    background: none;
    appearance: none;
    user-select: none;
    position: relative;
}
.hamburger span{
    z-index: 1;
    height: 5px;
    width: 30px;
    display: block;
    transition: 0.4s;
    margin-bottom: 5px;
    position: relative;
    border-radius: 5px;
    transform-origin: 0 0;
    background: var(--light);
}
.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);
}
.hamburger.is-active span:nth-child(1){
    transform: translate(0px, 2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}
.hamburger.is-active span:nth-child(3){
    transform: translate(-3px,3px) rotate(-45deg);
}
.hamburger.is-active:hover span{
    background: var(--primary);
}
.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}
.menu a{
    color: var(--light);
    margin: 0 16px;
    font-weight: 600;
    text-decoration:none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}
.menu a.is-active,.menu a:hover{
    background-color: var(--primary);
}
@media(min-width:768px){
    .hamburger{
        display: none;
    }
    .menu{
        display: flex;
    }
}